<div class="intro">
<p>
{{description}}
</p>
</div>

<div class="example">

    <h2>Basic KeyValueField creation</h2>
    <p>The KeyValueField makes it easy to build a search form from an existing inputEx definition</p>
    <div class='demoContainer' id='container1'></div>

<script>
{{>keyvalue-code}}
</script>

</div>

<h2>HTML</h2>

```
<div id="field-container"></div>
```

<h2>JavaScript</h2>


<h3>Implementation</h3>

```
{{>keyvalue-code}}
```
