<div class="intro">
<p>
{{description}}
</p>
</div>

<div class="example">


   <h2>Basic MenuField creation</h2>
   <p>Use the following code to create a basic inputEx MenuField.</p>
   <div class='demoContainer' id='container1'></div>


   <h2>Test with more options</h2>
   <p>Menu triggered on hover, displayed below the text invite, etc.</p>
   <div class='demoContainer' id='container2'></div>


   <h2>MenuField scroll</h2>
   <p>The menu can handle the scrolling of huge submenus, just set the 'constrained' option to true.</p>
   <div class='demoContainer' id='container3'></div>


<script>
{{>menu-code}}
</script>

</div>

<h2>HTML</h2>

```
<div id="field-container"></div>
```

<h2>JavaScript</h2>


<h3>Implementation</h3>

```
{{>menu-code}}
```
