<div class="intro">
<p>
{{description}}
</p>
</div>

<div class="example">


<h2>Basic RadioField creation</h2>
<p>Use the following code to create a basic inputEx RadioField.</p>
<div class='demoContainer' id='container1'></div>


<h2>Differentiate choices' labels and values</h2>
<p>Use the following code to create choices with labels different from values</p>
<div class='demoContainer' id='container2'></div>


<h2>Updated event</h2>
<p>How to listen to the updated event :</p>
<div class='demoContainer' id='container3'></div>



<h2>Styling RadioField</h2>

<p>Display the choices vertically, style currently selected choice...</p>

<div class='demoContainer' id='container4'></div>

<style>
  #container4 .inputEx-RadioField .inputEx-selected label { text-decoration: underline; }
</style>



<h2>Basic allowAny option</h2>
<p>The "allowAny" option adds a radio associated to a StringField to let the user enter any value.</p>
<div class='demoContainer' id='container5'></div>



<h2>Advanced allowAny option</h2>

<p>More options with allowAny (separators, default value, validator, etc.)</p>

<style>
#container6 div.inputEx-StringField-wrapper input {width: 25px;}
</style>

<div class='demoContainer' id='container6'></div>


<h2>Advanced allowAny option 2</h2>

<p>Use a custom field in allowAny</p>

<style>
#container6bis div.inputEx-StringField-wrapper input {width: 25px;}
</style>

<div class='demoContainer' id='container7'></div>




<h2>Disable RadioField</h2>
<p>Disable the field (to disable radio inputs individually, see another example below)</p>
<div class='demoContainer' id='container8'></div>




<h2>addChoice</h2>
<p>Add choices dynamically</p>
<div class='demoContainer' id='container9'></div>




<h2>removeChoice</h2>
<p>Remove choices dynamically</p>
<div class='demoContainer' id='container10'></div>


<h2>Hide / Show / Disable / Enable choice</h2>
<p>Hide, show, disable or enable an choice in the selector, without removing it totally, and keeping the original choice's order</p>
<p style="font-size:90%;padding-top:3px;">Note : disableChoice and enableChoice methods have no effect with IE &lt; 8 because it did not support disabled="disabled" attribute.</p>
<div class='demoContainer' id='container11'></div>




<script>
{{>radio-code}}
</script>

</div>

<h2>HTML</h2>

```
<div id="field-container"></div>
```

<h2>JavaScript</h2>


<h3>Implementation</h3>

```
{{>radio-code}}
```
