<div class="intro">
<p>
{{description}}
</p>
</div>

<div class="example">

    <h2>Basic Textarea creation</h2>
    <p>Use the following code to create a basic inputEx Textarea.</p>
    <div class='demoContainer' id='container1'></div>
    
    
    <h2>Textarea setValue/getValue</h2>
    <p>Test of the setValue, getValue methods</p>
    <div class='demoContainer' id='container2'></div>
    
    
    
    <h2>Change Textarea size</h2>
    <p>Set the size using "rows" and "cols" attributes.</p>
    <div class='demoContainer' id='container3'></div>
    
    
    <h2>More options</h2>
    <p>Set the min/max length, typeInvite...</p>
    <div class='demoContainer' id='container4'></div>
    

    <script>
    {{>textarea-code}}
    </script>

</div>

<h2>HTML</h2>

```
<div id="field-container"></div>
```

<h2>JavaScript</h2>


<h3>Implementation</h3>

```
{{>textarea-code}}
```
