<div class="intro">
<p>
{{description}}
</p>
</div>

<div class="example">


	<h2>File upload</h2>
	<p>To create a file upload form, you must use the "file" field within a form with the enctype attribute set to 'multipart/form-data'.</p>
	<div class='demoContainer' id='container1'></div>

<script>
{{>file-code}}
</script>

</div>

<h2>HTML</h2>

```
<div id="field-container"></div>
```

<h2>JavaScript</h2>


<h3>Implementation</h3>

```
{{>file-code}}
```
