<div class="intro">
<p>
{{description}}
</p>
</div>

<div class="example">

    <h2>Basic InPlaceEdit creation</h2>
    <p>Use the following code to create a basic inputEx InPlaceEdit.</p>
    <div class='demoContainer' id='container1'></div>
    
    <h2>Complex group example</h2>
    <p>Combine InPlaceEdit and groups</p>
    <div class='demoContainer' id='container2'></div>
    
    <h2>Getting the value</h2>
    <p>When the editor is opened, getValue return the editor value.</p>
    <div class='demoContainer' id='container3'></div>
    
    <h2>Image url from a dropdown menu</h2>
    <p></p>
    <div class='demoContainer' id='container4'></div>
    
    <h2>Customize the buttons</h2>
    <p></p>
    <div class='demoContainer' id='container5'></div>
    
    
    <script>
    {{>inplaceedit-code}}
    </script>

</div>

<h2>HTML</h2>

```
<div id="field-container"></div>
```

<h2>JavaScript</h2>


<h3>Implementation</h3>

```
{{>inplaceedit-code}}
```
