<div class="intro">
<p>
{{description}}
</p>
</div>

<div class="example">

    <div id='mainBox'>
        <h1>inputEx - SMD tester</h1>
        
        <p>Build forms from <a href="https://groups.google.com/forum/?fromgroups#!forum/json-schema">Service Mapping Description</a> (SMD)</p><br /><br />
        
    </div>


<script>
{{>smdtester-code}}
</script>

</div>

<h2>HTML</h2>

```
<div id="field-container"></div>
```

<h2>JavaScript</h2>


<h3>Implementation</h3>

```
{{>smdtester-code}}
```
