<div class="example">

    <h2>Build a form from JsonSchema</h2>
    <div class='demoContainer' id='container1'></div>
    
    <!-- json schema to load -->
    <script src="../assets/inputex-jsonschema/base-schema.js"></script>

    <script>
    YUI_config.groups.inputex.base = '../../build/';
    YUI().use('inputex-group','inputex-select','inputex-string', 'inputex-date','inputex-datepicker','inputex-jsonschema','inputex-checkbox','inputex-list','inputex-number','inputex-textarea','inputex-rte','inputex-email','inputex-url', function(Y) {
        {{>jsonschema-2-code}}
        // YUI 2 CSS (RTE field)
        Y.one('body').addClass('yui-skin-sam');
    });
    </script>

</div>

<h2>HTML</h2>

```
<!-- json schema to load -->
<script src="../assets/inputex-jsonschema/base-schema.js"></script>

<div id="container1"></div>
```

Open the schema file : <a target='_blank' href="../assets/inputex-jsonschema/base-schema.js">../assets/inputex-jsonschema/base-schema.js</a>

<h2>JavaScript</h2>


<h3>Implementation</h3>

```
{{>jsonschema-2-code}}
```
