<div class="intro">
<p>
{{description}}
</p>
</div>

<div class="example">

    <h2>UneditableField with HTML string</h2>
	<p>To format the value of the field with an html string, use the <i>formatValue</i> function (schould return a string):</p>
	<div class='demoContainer' id='container1'></div>
	
	
	<h2>UneditableField with DOM rendering</h2>
	<p>To render the value of the field with a DOM element (to add a behaviour), use the <i>formatDom</i> function (schould return a dom element):</p>
	<div class='demoContainer' id='container2'></div>
	
	
	
	<h2>UneditableField with DOM rendering</h2>
	<p>Display an image from the field value :</p>
	<div class='demoContainer' id='container3'></div>
	

<script>
{{>uneditable-code}}
</script>

</div>

<h2>HTML</h2>

```
<div id="field-container"></div>
```

<h2>JavaScript</h2>


<h3>Implementation</h3>

```
{{>uneditable-code}}
```
