.inputEx-ColorField-ButtonWraper {
	display:inline-block;
	background:url(images/back-h.png) repeat-x 0 0 transparent;
	margin:auto 0.25em;
	border-style:solid;
	border-color:#808080;
	border-width:1px 0;
}

.inputEx-ColorField-ButtonWraper .first-child {
	display:block;
	border-style:solid;
	border-color:#808080;
	border-width:0 1px;
	margin:0 -1px;
}

.inputEx-ColorField-Button {
	background-image:url(images/palette.png);
	background-repeat:no-repeat;
	background-position:3px 2px;
	width:21px;
	height:17px;
	padding:0;
	cursor:pointer;
	border:none;
}

.inputEx-ColorField-colorArea {
	height: 19px;
	width: 100px;
	border: 1px solid #B5B8C8;
	cursor: pointer;
	float:left; /* to display color picker icon on the right */
}

.inputEx-ColorField-Grid { 
   padding:5px; 
   
   background-color: white;
   border: 1px solid #AAAAAA;
   -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2), -2px 2px 4px rgba(0, 0, 0, 0.2);
   -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2), -2px 2px 4px rgba(0, 0, 0, 0.2);
   box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2), -2px 2px 4px rgba(0, 0, 0, 0.2);
}

.inputEx-ColorField-square {
   float:left;
   cursor: pointer;
   width:15px;
   height:15px;
   margin:2px;
}

.inputEx-ColorField-square.selected {
	width:13px;
	height:13px;
	border-width:1px;
	border-style:solid;
	border-color:#666666;
	border-color:rgba(0,0,0,0.5);
}

.inputEx-ColorField-square:hover {
	width:13px;
	height:13px;
	border-width:1px;
	border-style:solid;
	border-color:#666666;
	border-color:rgba(0,0,0,0.5);
}