<div class="intro">
<p>
{{description}}
</p>
</div>



<style>
div.inputEx-Form-Mask div { background-color:#DDDDFF; }
div#container3 { width:400px }
</style>




<div class="example">


    <h2>Basic Form creation</h2>
    <p>Use the following code to create a basic inputEx Form.</p>
    <div class='demoContainer' id='container1'></div>
    
    
    <h2>Multi-group Form</h2>
    <p>Use the following code to create a Form with multiple Groups (fieldsets).</p>
    <div class='demoContainer' id='container2'></div>
    
    
    <h2>Send in json with ajax</h2>
   
    <p>How to send the form data using Ajax</p>

    <div class='demoContainer' id='container3'></div>
    
    
    <h2>Send with ajax using url encoded parameters</h2>
    <p>How to send the form data using Ajax</p>
    <div class='demoContainer' id='container4'></div>
    
    
    <h2>Send with ajax using url encoded parameters wrapped in an object</h2>
    <p>Use wrapObject</p>
    <div class='demoContainer' id='container5'></div>
    
    
    <h2>Setting and getting form value</h2>
    <p>Use the following code to set or get the value from javascript</p>
    <div class='demoContainer' id='container6'></div>
    
    
    <h2>Different button types</h2>
    <p>Use the following code to create submit buttons, or "link" buttons.</p>
    <div class='demoContainer' id='container7'></div>
    
    <p>You can use 3 types of inputEx form buttons :
       <ul style="margin-left:40px;list-style-type:disc">
          <li style="list-style-type:disc"><u>submit</u>&nbsp;: a (&lt;input type="submit" /&gt;)-tag is created. A handler is automatically added on 'click' to submit the form only if it validates (no invalid fields, or no empty required fields). </li>
          <li style="list-style-type:disc"><u>submit-link</u>&nbsp;: same as 'submit' type, but with a different markup (&lt;a&gt;&lt;span&gt;Submit&lt;/span&gt;&lt;/a&gt;) to render as 'link'. The same handler as with 'submit' type is added on link.</li>
          <li style="list-style-type:disc"><u>link</u>&nbsp;: same markup as 'submit-link' but with no handler to submit the form. You must add your own 'onClick' function to trigger a specific action. The default link behavior is disabled, so you don't have to do it yourself in the onClick handler.</li>
       </ul>
    </p>
    <br />
    <p>"link" and "submit-link" buttons are also useful because :
       <ul style="margin-left:40px;list-style-type:disc">
          <li style="list-style-type:disc">they allow to differenciate strong actions (like a "submit"), and weak actions (like a form "reset")</li>
          <li style="list-style-type:disc">they are easier to style (see : <a href="styling_buttons.html">styling buttons example</a>)</li>
       </ul>
    </p>
    
    
    <h2>Destroy a form</h2>
    <p>Remove DOM nodes, remove event listeners, free memory...</p>
    <div class='demoContainer' id='container8'></div>

    
    <h2>Turn off / on browser autocompletion</h2>
    <p>Activate/deactivate browser autocompletion by field, by form, or for all inputEx fields in the page.</p>
    <div class='demoContainer' id='container9'></div>


<script>
{{>form-code}}
</script>

</div>

<h2>HTML</h2>

```
<div id="field-container"></div>
```

<h2>JavaScript</h2>


<h3>Implementation</h3>

```
{{>form-code}}
```
