<div class="intro">
<p>
{{description}}
</p>
</div>

<div class="example">

    <h2>Basic MultiAutoComplete creation</h2>
 <p>Use the following code to create a basic inputEx MultiAutoComplete. (note: this example doesn't work offline)</p>
 <div class='demoContainer' id='container1'></div>

<script>
{{>multiautocomplete-code}}
</script>

</div>

<h2>HTML</h2>

```
<div id="field-container"></div>
```

<h2>JavaScript</h2>


<h3>Implementation</h3>

```
{{>multiautocomplete-code}}
```
