<div class="intro">
<p>
{{description}}
</p>
</div>

<div class="example">

   
   <h2>Updated event</h2>
   <p>How to listen to the updated event :</p>
   <div class='demoContainer' id='container1'></div>
   <div class='demoContainer' id='container2'></div>
   

<script>
{{>linkedcombo-code}}
</script>

</div>

<h2>HTML</h2>

```
<div id="field-container"></div>
```

<h2>JavaScript</h2>


<h3>Implementation</h3>

```
{{>linkedcombo-code}}
```
