YUI().use('inputex-password','inputex-group', function(Y) {

    // Example 1
    
    new Y.inputEx.PasswordField({parentEl: 'container1', showMsg: true});
    
    
    // Example 2
    
    // Using the json instanciation method :
    Y.inputEx({
        type: 'group',
        fields: [
            {type: 'password', label: 'New password', showMsg: true, required: true, id: 'firstPassword' },
            {type: 'password', label: 'Confirmation', showMsg: true, required: true, confirm: 'firstPassword' }
        ],
        parentEl: 'container2'
    });
    
    
    // Example 3
    
    new Y.inputEx.PasswordField({parentEl: 'container3', showMsg: true, minLength: 10});
    
    
    // Example 4
    
    new Y.inputEx.PasswordField({parentEl: 'container4', showMsg: true, strengthIndicator: true});
    
    
    // Example 5
    
    new Y.inputEx.PasswordField({parentEl: 'container5', showMsg: true, capsLockWarning: true});
    
});
