<div class="intro">
<p>
{{description}}
</p>
</div>

<div class="example">

    <h2>Basic RatingStars creation</h2>
	<p>Use the following code to create a basic inputEx SelectField.</p>
	<div class='demoContainer' id='container1'></div>
	
	
	<h2>Change the number of stars</h2>
	<p>Use the following code to change the number of stars</p>
	<div class='demoContainer' id='container1bis'></div>
	
	
	<h2>Change the message under the field</h2>
	<p>Use the following code to change the message field</p>
	<div class='demoContainer' id='container2'></div>
	
	
	
	<h2>Display Messages on mouseOver</h2>
	<p>Use the following code to change the message field</p>
	<div class='demoContainer' id='container3'></div>
	
	
	<h2>StandAlone Form </h2>
	<p>Use the following code to make a configurable form that send rates with ajax</p>
	<div class='demoContainer' id='container4'></div>
	
	
	
	<h2>Display Messages on disabled</h2>
	<p>Use the following code to display a disable Message</p>
	<div class='demoContainer' id='container5'></div>
	

<script>
{{>ratingstars-code}}
</script>

</div>

<h2>HTML</h2>

```
<div id="field-container"></div>
```

<h2>JavaScript</h2>


<h3>Implementation</h3>

```
{{>ratingstars-code}}
```
