<div class="intro">
<p>
{{description}}
</p>
</div>

<div class="example">

    <h2>Basic JsonTreeInspector creation</h2>
    <div class='demoContainer' id='container1'></div>

    <h2>HTML content</h2>
    <div class='demoContainer' id='container2'></div>


<script>
{{>jsontreeinspector-code}}
</script>

</div>

<h2>HTML</h2>

```
<div id="field-container"></div>
```

<h2>JavaScript</h2>


<h3>Implementation</h3>

```
{{>jsontreeinspector-code}}
```
