
/**
 * inputEx-ListField
 */

/* Buttons */
.inputEx-ListField-addButton {
    background: transparent url(add.png) no-repeat scroll 0;
    width: 16px;
    height: 16px;
    cursor: pointer;
 }

.inputEx-ListField-delButton {
   background: transparent url(delete.png) no-repeat scroll 0;
   width: 16px;
   height: 16px;
   float: left;
   cursor: pointer;
}

/* Arrows */
.inputEx-ListField-Arrow {
   width: 16px;
   height: 16px;
   float: left;
   cursor: pointer;
}

.inputEx-ListField-ArrowUp {
   background: transparent url(bullet_arrow_up.png) no-repeat scroll 0;
}
.inputEx-ListField-ArrowDown {
   background: transparent url(bullet_arrow_down.png) no-repeat scroll 0;
}

.inputEx-ListField-subFieldEl {
  float:left;
  margin-left:4px;
}

.inputEx-ListField-addLink, .inputEx-ListField-delLink {
   color: blue;
   cursor: pointer;
   margin-left: 5px;
}

.inputEx-ListField-addLink:hover, .inputEx-ListField-delLink:hover {
   text-decoration: underline;
}
