<div class="intro">
<p>
{{description}}
</p>
</div>

<div class="example">

    <h2>Basic TimeField creation</h2>
	
	<p>Use the following code to create a basic inputEx TimeField.</p>

	<div class='demoContainer' id='container1'></div>
	
	
	<h2>Change separators</h2>
	
	<p>Use the separators attribute from CombineField to change the separator strings.</p>

	<div class='demoContainer' id='container2'></div>
	

<script>
{{>time-code}}
</script>

</div>

<h2>HTML</h2>

```
<div id="field-container"></div>
```

<h2>JavaScript</h2>


<h3>Implementation</h3>

```
{{>time-code}}
```
