<div class="intro">
<p>
{{description}}
</p>
</div>

<div class="example">

    <h2>Basic TimeField creation</h2>
    <p>Use the following code to create a basic inputEx TimeField.</p>
    <div class='demoContainer' id='container1'></div>
    
    <h2>Change separators</h2>
    <p>Use the separators attribute from CombineField to change the separator strings.</p>
    <div class='demoContainer' id='container2'></div>

    <h2>Gap in selector's value</h2>
    <p>change the value of your selectors by setting an increment</p>
    <div class='demoContainer' id='container3'></div>

    <h2>Show/Hide selectors</h2>
    <p>Let say that your second's selector in too specific .</p>
    <div class='demoContainer' id='container4'></div>

<script>
{{>time-code}}
</script>

</div>

<h2>HTML</h2>

```
<div id="field-container"></div>
```

<h2>JavaScript</h2>


<h3>Implementation</h3>

```
{{>time-code}}
```
