<div class="intro">
<p>
{{description}}
</p>
</div>

<div class="example">

	<h2>Basic CombineField creation</h2>
	<p></p>
	<div class='demoContainer' id='container1'></div>


	<h2>Basic CombineField creation</h2>
	<p></p>
	<div class='demoContainer' id='container2'></div>


    <h2>Field names</h2>
    <p>The names are automatically set on sub-fields, so that standard forms can work. Click the button and check the URL</p>
    <div class='demoContainer' id='container3'></div>
   

<script>
{{>combine-code}}
</script>

</div>

<h2>HTML</h2>

```
<div id="field-container"></div>
```

<h2>JavaScript</h2>


<h3>Implementation</h3>

```
{{>combine-code}}
```
