<div class="intro">
<p>
{{description}}
</p>
</div>

<div class="example">

    <h2>Basic RTEField creation</h2>
    <p>Use the following code to create a basic inputEx RTEField.</p>
    <div class='demoContainer' id='container1'></div>


    <h2>RTEField setValue/getValue</h2>
    <p>Test for setValue/getValue using the RTEField.</p>
    <div class='demoContainer' id='container2'></div>


    <h2>Using the SimpleEditor</h2>
    <p>Use the following code to create a SimpleEditor widget</p>
    <div class='demoContainer' id='container3'></div>


<script>
{{>rte-code}}
</script>

</div>

<h2>HTML</h2>

```
<div id="field-container"></div>
```

<h2>JavaScript</h2>


<h3>Implementation</h3>

```
{{>rte-code}}
```
