<div class="intro">
<p>
{{description}}
</p>
</div>

<div class="example">

    <h2>Basic Group creation</h2>
    <p>Use the following code to create a basic inputEx group.</p>
    <div class='demoContainer' id='container1'></div>
    
    
    
    <h2>Composition</h2>
    <p>The inputEx.Group class inherits from inputEx.Field</p>
    <div class='demoContainer' id='container2'></div>
    
    
    
    <h2>Updated event</h2>
    <p>How to listen to the updated event :</p>
    <div class='demoContainer' id='container3'></div>
    
    
    
    <h2>Collapsible</h2>
    <p>Collapsible</p>
    <div class='demoContainer' id='container4'></div>
    
    
    <h2>Composition</h2>
    <p>Composition</p>
    <div class='demoContainer' id='container5'></div>
    
    
    <h2>Field descriptions</h2>
    <p>Specify field descriptions</p>
    <div class='demoContainer' id='container6'></div>
    
    
    <h2>Flatten output value for a sub-group</h2>
    <p>The parent group will then flatten the sub-group value within its value.</p>
    <p>In this example, we return <i>{firstname: ..., lastname: ..., title:... }</i> instead of <i>{ MySubForm: {firstname: ..., lastname: ...}, title:... }</i>.</p>
    <div class='demoContainer' id='container7'></div>
    
    
    <h2>Set error messages</h2>
    <p>Use the <i>setErrors</i> method on Group or Form instances to set error messages. The field will show the message only if the <i>showMsg</i> option is enabled on this field.</p>
    <p>This feature is helpful for Ajax forms with server-side validation.</p>
    <div class='demoContainer' id='container8'></div>

<script>
{{>group-code}}
</script>

</div>

<h2>HTML</h2>

```
<div id="field-container"></div>
```

<h2>JavaScript</h2>


<h3>Implementation</h3>

```
{{>group-code}}
```
