<div class="intro">
<p>
{{description}}
</p>
</div>

<div class="example">

<h2>Using a checkbox to show/hide another field</h2>
<p>Use an action</p>
<div class='demoContainer' id='container1'></div>


<h2>Basic Group Interactions</h2>
<p>Toggle a field</p>
<div class='demoContainer' id='container2'></div>


<h2>Basic Group Interactions</h2>
<p>Toggle a field</p>
<div class='demoContainer' id='container3'></div>


<script>
{{>interactions-code}}
</script>

</div>

<h2>HTML</h2>

```
<div id="field-container"></div>
```

<h2>JavaScript</h2>


<h3>Implementation</h3>

```
{{>interactions-code}}
```
