<div class="intro">
<p>
{{description}}
</p>
</div>

<div class="example">

   
   <h2>Basic NumberField creation</h2>
   <p>Use the following code to create a basic inputEx NumberField.</p>
   <div class='demoContainer' id='container1'></div>



   <h2>Supported format</h2>
   <p>Everything accepted by parseFloat is valid.</p>
   <div class='demoContainer' id='container2'></div>


   
   <h2>Min &amp; Max</h2>
   <p>Check a minimum or a maximum value</p>
   <div class='demoContainer' id='container3'></div>


<script>
{{>number-code}}
</script>

</div>

<h2>HTML</h2>

```
<div id="field-container"></div>
```

<h2>JavaScript</h2>


<h3>Implementation</h3>

```
{{>number-code}}
```
