<div class="intro">
<p>
{{description}}
</p>
</div>

<div class="example">

    <h2>Basic IPv4Field creation</h2>
    
    <p>Use the following code to create a basic inputEx IPv4Field.</p>

    <div class='demoContainer' id='container1'></div>

<script>
{{>ipv4-code}}
</script>

</div>

<h2>HTML</h2>

```
<div id="field-container"></div>
```

<h2>JavaScript</h2>


<h3>Implementation</h3>

```
{{>ipv4-code}}
```
