<div class="intro">
<p>
{{description}}
</p>
</div>

<div class="example">

    <h2>Basic StringField creation</h2>
	<p>Use the following code to create a basic inputEx field.</p>
	<div class='demoContainer' id='container1'></div>
	
	
	<h2>With a default value</h2>
	<p>You can set a default value by specifying the 'value' property in the options object.</p>
	<div class='demoContainer' id='container2'></div>
	
	
	<h2>Changing the size</h2>
	<p>You can set the size of the input.</p>
	<div class='demoContainer' id='container3'></div>
	
	
	<h2>Maximum and minimum length</h2>
	<p>You can add a maximum/minimum length on string fields :</p>
	<div class='demoContainer' id='container4'></div>
	
	
	<h2>Required</h2>
	<p>If the 'required' property is set, the 'validate' method will return false if the field is empty. In a form, the 'validate' method will be called on each field and will return false if at least one field doesn't validate.</p>
	<div class='demoContainer' id='container5'></div>
	
	
	
	<h2>Regular Expression 1</h2>
	<p>Here is an example on how to check the value with a regular expression. (It is better to use the IntegerField, but this is a simple example.)</p>
	<div class='demoContainer' id='container6'></div>
	
	
	<h2>Regular Expression 2</h2>
	<p>The basic Field class can use regular expressions to validate the field content. Here is an example with this wonderful email regular expression (note that there is an Email Field class).</p>
	<div class='demoContainer' id='container7'></div>
	
	
	<h2>Enabling/Disabling inputs</h2>
	<p>You can call the methods 'disable' or 'enable' to set the state of the field.</p>
	<div class='demoContainer' id='container8'></div>
	
	
	<h2>Updated event</h2>	
	<p>How to listen to the updated event :</p>
	<div class='demoContainer' id='container9'></div>
	
	
	<h2>Type invitation</h2>
	<p>Display a text when the field is empty.</p>
	<div class='demoContainer' id='container10'></div>
	
	
	<h2>Various options</h2>
	<p>Config with various options : typeInvite, required, minLength, trim  &nbsp;--&nbsp; Test setValue and getValue methods</p>
	<div class='demoContainer' id='container11'></div>
	
	
	<h2>Focus the field</h2>
	<p>Use the focus method</p>
	<div class='demoContainer' id='container12'></div>
	
	
	

<script>
{{>string-code}}
</script>

</div>

<h2>HTML</h2>

```
<div id="field-container"></div>
```

<h2>JavaScript</h2>


<h3>Implementation</h3>

```
{{>string-code}}
```
