<div class="intro">
<p>
{{description}}
</p>
</div>

<div class="example">

    <h2>Basic DateSelectMonthField creation</h2>
    <p>Use the following code to create a basic inputEx DateSelectMonthField.</p>
    <div class='demoContainer' id='container1'></div>


<script>
{{>dateselectmonth-code}}
</script>

</div>

<h2>HTML</h2>

```
<div id="field-container"></div>
```

<h2>JavaScript</h2>


<h3>Implementation</h3>

```
{{>dateselectmonth-code}}
```
