<div class="intro">
<p>
{{description}}
</p>
</div>

<div class="example">

<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>


   <h2>Google Maps MapField creation</h2>
   <p>Use the following code to create a inputEx MapField for Google Maps.</p>
   <div class='demoContainer' id='container3'></div>


<script>
{{>map-code}}
</script>

</div>

<h2>HTML</h2>

```
<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

<div id="field-container"></div>
```

<h2>JavaScript</h2>


<h3>Implementation</h3>

```
{{>map-code}}
```
