<div class="intro">
<p>
{{description}}
</p>
</div>

<div class="example">

<h2>Basic String Availability creation</h2>

<p>Use the following code to create a basic inputEx String Availability.</p>

<div class='demoContainer' id='container1'></div>
 <div class='demoContainer' id='container2'></div>
   


    

<script>
{{>string-availability-code}}
</script>

</div>

<h2>HTML</h2>

```
<div id="field-container"></div>
```

<h2>JavaScript</h2>


<h3>Implementation</h3>

```
{{>string-availability-code}}
```
