<div class="intro">
<p>
{{description}}
</p>
</div>

<div class="example">

    <h2>Basic SliderField creation</h2>
    <p>A simple SliderField instance</p>
    <div class='demoContainer' id='container1'></div>


    <h2>Updated Event</h2>
    <p>The updated event</p>
    <div class='demoContainer' id='container2'></div>


    <h2>Boundaries</h2>
    <p>WARNING: this feature does NOT work (click the button)</p>
    <div class='demoContainer' id='container3'></div>


<script>
{{>slider-code}}
</script>

</div>

<h2>HTML</h2>

```
<div id="field-container"></div>
```

<h2>JavaScript</h2>


<h3>Implementation</h3>

```
{{>slider-code}}
```
