<div class="intro">
<p>
{{description}}
</p>
</div>

<div class="example">

    <h2>Basic MultiSelectField creation</h2>
 <p>Use the following code to create a basic inputEx MultiSelectField. The first value of "options" is used as the invite text to select an option.</p>
 <div class='demoContainer' id='container1'></div>



 <h2>Change returned values</h2>
 <p>As SelectField, MultiSelect field allow to set the labels for the options</p>
 <div class='demoContainer' id='container2'></div>



 <h2>setValue</h2>
 <p>Example setting the default value</p>
 <div class='demoContainer' id='container3'></div>
 

<script>
{{>multiselect-code}}
</script>

</div>

<h2>HTML</h2>

```
<div id="field-container"></div>
```

<h2>JavaScript</h2>


<h3>Implementation</h3>

```
{{>multiselect-code}}
```
