<div class="intro">
<p>
{{description}}
</p>
</div>

<div class="example">

    <h2>Basic SelectField creation</h2>
    <p>Use the following code to create a basic inputEx SelectField.</p>
    <div class='demoContainer' id='container1'></div>
    
    
    <h2>Differentiate choices' labels and values</h2>
    <p>Use the following code to create choices with labels different from values</p>
    <div class='demoContainer' id='container1bis'></div>
    
    
    <h2>Require the selection of a non-empty option</h2>
    <p>Try to select an empty option:</p>
    <div class='demoContainer' id='container1ter'></div>
    
    
    <h2>Updated event</h2>
    <p>How to listen to the updated event :</p>
    <div class='demoContainer' id='container2'></div>
    
    
    <h2>addChoice</h2>
    <p>Add choices dynamically</p>
    <div class='demoContainer' id='container3'></div>
    
    
    <h2>removeChoice</h2>
    <p>Remove choices dynamically</p>
    <div class='demoContainer' id='container4'></div>
    
    
    <h2>Hide / Show / Disable / Enable choice</h2>
    <p>Hide, show, disable or enable an choice in the selector, without removing it totally, and keeping the original choice's order</p>
    <p style="font-size:90%;padding-top:3px;">Note : disableChoice and enableChoice methods have no effect with IE &lt; 8 because it did not support disabled="disabled" attribute.</p>
    <div class='demoContainer' id='container5'></div>    
    

<script>
{{>select-code}}
</script>

</div>

<h2>HTML</h2>

```
<div id="field-container"></div>
```

<h2>JavaScript</h2>


<h3>Implementation</h3>

```
{{>select-code}}
```
