<div class="intro">
<p>
{{description}}
</p>
</div>

<div class="example">

    <h2>Basic TimeIntervalField creation</h2>
    <p>Use the following code to create a basic inputEx TimeIntervalField.</p>
    <div class='demoContainer' id='container1'></div>
    
    
    
    <h2>TimeIntervalField options</h2>
    <p>You can set the <i>fields</i> and <i>separators</i> options of the combine field to customize the field</p>
    <div class='demoContainer' id='container2'></div>
    
    
    

<script>
{{>timeinterval-code}}
</script>

</div>

<h2>HTML</h2>

```
<div id="field-container"></div>
```

<h2>JavaScript</h2>


<h3>Implementation</h3>

```
{{>timeinterval-code}}
```
