YUI({
   filter: 'raw',
   filters: {
      "inputex-menu": 'debug',
      "node-constrained-menunav": 'debug'
   }
}).use('inputex-menu', 'console', function(Y){

new Y.Console().render();

// Trick to make huge menus !
function makeLonger (factor, items) {
   var result = [],
       addText = function (node) {
          node.text += ' ' + i;
          return node;
       };

   for (var i = 1; i <= factor; i++) {
      for(var j = 0; j < items.length; j++) {
         result.push(Y.mix(items[j], {text: items[j] + ' ' + i}));
      }
   }
   return result;
}

// Example 1

var menuItems = makeLonger(1, [
   {
      text:'America',
      submenu:{
         itemdata: makeLonger(6, [
            {text:'United States of America',value:'Us'},
            {text:'Canada',value:'Ca'}
         ])
      }
   },
   {
      text:'Europe',
      submenu:{
         itemdata: makeLonger(1, [
            {
               text:'Western Europe',
               submenu:{
                  itemdata: makeLonger(10, [
                     {text:'France',value:'Fr'},
                     {text:'United Kingdom',value:'Uk'},
                     {text:'Germany',value:'De'}
                  ])
               }
            },
            {
               text:'Eastern Europe',
               submenu: {
                  itemdata: makeLonger(20, [
                     {text:'Poland',value:'Pl'},
                     {text:'Czech Republic',value:'Cz'},
                     {text:'Slovakia',value:'Sk'}
                  ])
               }
            }
         ])
      }
   },
   {
      text:'Africa',
      submenu:{
         itemdata: makeLonger(40, [
            {text:'Senegal',value:'Sn'},
            {text:'Madagascar',value:'Mg'}
         ])
      }
   },
   {
      text:'Ajouter / Modifier une prestation WTF',
      submenu:{
         itemdata: makeLonger(40, [
            {text:'Senegal',value:'Sn'},
            {text:'Madagascar',value:'Mg'}
         ])
      }
   }
]);

new Y.inputEx.MenuField({
   parentEl: 'container1',
   name: 'country',
   label: 'Your Country:',
   menuOrientation: 'horizontal',
   menuItems: menuItems
});

// Example 2

var menuItems2 = [
   {
      text:'America',
      submenu:{
         itemdata:[
            {text:'United States of America',value:'Us'},
            {text:'Canada',value:'Ca'}
         ]
      }
   },
   {
      text:'Europe',
      submenu:{
         itemdata:[
            {
               text:'Western Europe',
               submenu:{
                  itemdata:[
                     {text:'France',value:'Fr'},
                     {text:'United Kingdom',value:'Uk'},
                     {text:'Germany',value:'De'}
                  ]
               }
            },
            {
               text:'Eastern Europe',
               submenu:{
                  itemdata:[
                     {text:'Poland',value:'Pl'},
                     {text:'Czech Republic',value:'Cz'},
                     {text:'Slovakia',value:'Sk'}
                  ]
               }
            }
         ]
      }
   },
   {
      text:'Africa',
      submenu:{
         itemdata:[
            {text:'Senegal',value:'Sn'},
            {text:'Madagascar',value:'Mg'}
         ]
      }
   }
];

var div = Y.one('#container2');

var f = new Y.inputEx.MenuField({
   parentEl: 'container2',
   name: 'country',
   label: 'Your Country:',
   required: true,
   typeInvite: 'Hover this text to select a country',
   menuTrigger: 'mouseover',
   menuOrientation: 'horizontal',
   constrained: true,
   menuItems: menuItems
});

var logDiv = Y.inputEx.cn('div', null, null, "Log :");
div.appendChild(logDiv);
f.on('updated', function(value) {
   logDiv.innerHTML += "Updated at "+(new Date())+" with value "+value;
         logDiv.appendChild(Y.inputEx.cn('br'));
});

var button1 = Y.inputEx.cn('button', null, null, "SetValue with 'Fr' (France)");
div.appendChild(button1);
Y.one(button1).on('click' ,function() { 
   f.setValue("Fr"); 
});
var button2 = Y.inputEx.cn('button', null, null, "SetValue with empty string");
div.appendChild(button2);
Y.one(button2).on('click' ,function() { 
   f.setValue('');
});

var button3 = Y.inputEx.cn('button', null, null, "GetValue");
div.appendChild(button3);
Y.one(button3).on('click' ,function() { 
   alert(f.getValue());
});

var button4 = Y.inputEx.cn('button', null, null, "Clear");
div.appendChild(button4);
Y.one(button4).on('click' ,function() { 
   f.clear();
});

// Example 3


   var menuItems = [
      {
         text:'America',
         submenu:{
            itemdata:[
               {text:'United States of America',value:'Us'},
               {text:'Canada',value:'Ca'}
            ]
         }
      },
      {
         text:'Europe',
         submenu:{
            itemdata:[
               {
                  text:'Western Europe',
                  submenu:{
                     itemdata:[
                        {text:'France',value:'Fr'},
                        {text:'United Kingdom',value:'Uk'},
                        {text:'Germany',value:'De'}
                     ]
                  }
               },
               {
                  text:'Eastern Europe',
                  submenu:{
                     itemdata:[
                        {text:'Poland',value:'Pl'},
                        {text:'Czech Republic',value:'Cz'},
                        {text:'Slovakia',value:'Sk'}
                     ]
                  }
               }
            ]
         }
      },
      {
         text:'Africa',
         submenu:{
            itemdata:[
               {text:'Senegal',value:'Sn'},
               {text:'Madagascar',value:'Mg'}
            ]
         }
      }
   ];

   var menu = new Y.inputEx.MenuField({
      colorInvite : "#FF0000",
      parentEl: 'container3',
      name: 'country',
      label: 'Your Country:',
      menuItems: menuItems
   });


var div = Y.one('#container3');

var button1 = Y.inputEx.cn('button', null, null, "Yellow");
div.appendChild(button1);
Y.one(button1).on('click' ,function() { 
   menu.setBackgroundColorOfRootLabel("#FFF000");
});




});
