div.inputEx-Group fieldset {
    border : 0;
    height : 40px
}
div.inputEx-Group div.inputEx-label {
    width : 60px;
}

.yui3-skin-sam .yui3-panel{
    outline: none;
}

.yui3-skin-sam .yui3-panel .yui3-widget-hd{
    min-height : 0px;
    padding : 3px 0 0 5px;
    height : 20px;
    font-size : 93%;
}

.yui3-skin-sam .yui3-panel .yui3-widget-ft{
    min-height : 0px;
    padding : 2px 5px 5px 0;
    height : 20px;
}

.yui3-button{
    font-size : 9px;
}

.inputEx-StringField-wrapper input{
    width : 90px;
}