YUI().use('inputex-phone', function(Y) {
    
    // example 1
    new Y.inputEx.PhoneField({parentEl: 'container1', label: 'Phone number'});

	// example 2
    new Y.inputEx.PhoneField({parentEl: 'container2', label: 'Phone number', button : { label : '<i class="fa fa-phone"></i>' }});

});
