YUI().use('inputex-integer', function(Y) {

	// Example 1
	var field = new Y.inputEx.IntegerField({parentEl: 'container1', showMsg: true});
	field.on('updated', function(value) {
		Y.one('#valueContainer1').innerHTML = "value: "+value+", type: "+typeof(value);
	});
	
	
	// Example 2
	var field = new Y.inputEx.IntegerField({parentEl: 'container2', showMsg: true, required:true, typeInvite:"Enter a number", trim: true});
	field.on('updated', function(value) {
		Y.one('#valueContainer2').innerHTML = "value: "+value+", type: "+typeof(value);
	});
	
	
	// Example 3
	new Y.inputEx.IntegerField({parentEl: 'container3', showMsg: true, required:true, negative:true});
	
	
	// Example 4
	new Y.inputEx.IntegerField({parentEl: 'container4', showMsg: true, min:3, max:10, typeInvite:"Integers between 3 and 10 only", size:30});
	
	
	
	

});


