<div class="intro">
<p>
{{description}}
</p>
</div>

<div class="example">

    <h2>Basic UrlField creation</h2>
    
    <p>Use the following code to create a basic inputEx UrlField.</p>

    <div class='demoContainer' id='container1'></div>
    
    
    <h2>favicon option</h2>
    
    <p>If you use https, you might need to remove the favicon option (or provide a proxy).</p>

    <div class='demoContainer' id='container2'></div>
    
    
    <h2>Type invitation</h2>
    
    <p>You can use all the parameters from StringField, including "typeInvite":</p>

    <div class='demoContainer' id='container3'></div>
    

<script>
{{>url-code}}
</script>

</div>

<h2>HTML</h2>

```
<div id="field-container"></div>
```

<h2>JavaScript</h2>


<h3>Implementation</h3>

```
{{>url-code}}
```
