<div class="intro">
<p>
{{description}}
</p>
</div>

<div class="example">

    <h2>Basic VectorField creation</h2>
    
    <p>Use the following code to create a basic inputEx VectorField.</p>

    <div class='demoContainer' id='container1'></div>
    
    
    
    <h2>VectorField with separators</h2>
    
    <p>VectorField inherits CombineField, so you can change the separators :</p>

    <div class='demoContainer' id='container2'></div>
    
    
    
    <h2>VectorField dimension</h2>
    
    <p>Set the dimension option :</p>

    <div class='demoContainer' id='container3'></div>
    
    

<script>
{{>vector-code}}
</script>

</div>

<h2>HTML</h2>

```
<div id="field-container"></div>
```

<h2>JavaScript</h2>


<h3>Implementation</h3>

```
{{>vector-code}}
```
