<div class="intro">
<p>
{{description}}
</p>
</div>

<div class="example">
   
	<h2>Basic ColorField creation</h2>
	<p>Use the following code to create a basic inputEx ColorField.</p>
	<div class='demoContainer' id='container1'></div>
	
	<h2>Updated event</h2>
	<p>How to listen to the updated event :</p>
	<div class='demoContainer' id='container2'></div>
	
	<h2>Setting the color</h2>
	<p>The usual 'value' parameter:</p>
	<div class='demoContainer' id='container3'></div>
	
	
	<h2>Using a different palette</h2>
	<p>You can choose another predefined palette, or a set of custom colors.</p>
	<div class='demoContainer' id='container4'></div>
	   

<script>
{{>color-code}}
</script>

</div>

<h2>HTML</h2>

```
<div id="field-container"></div>
```

<h2>JavaScript</h2>


<h3>Implementation</h3>

```
{{>color-code}}
```
