<div class="intro">
<p>
{{description}}
</p>
</div>

<div class="example">

    <h2>Basic DatePickerField creation</h2>
    <p>Use the following code to create a basic inputEx DatePickerField.</p>
    <div class='demoContainer' id='container1'></div>


    <h2>Change DatePickerField date format</h2>
    <p>Use the following code to select another date format</p>
    <div class='demoContainer' id='container2'></div>


    <h2>DatePickerField Updated event</h2>
    <p>Listening for the updated event</p>
    <div class='demoContainer' id='container3'></div>


    <h2>Use a string input/output formatting</h2>
    <p>The setValue/getValue methods will parse/format the dates to the <i>valueFormat</i> option.</p>
    <div class='demoContainer' id='container4'></div>


    <h2>Disable DatePicker</h2>
    <p>Disable method</p>
    <div class='demoContainer' id='container5'></div>


    <h2>Disable readonly option</h2>
    <p>If you want to let users enter the date manually</p>
    <div class='demoContainer' id='container6'></div>

    <h2>Custom renderer</h2>
    <p>Custom render some public holidays</p>
    <div class='demoContainer' id='container7'></div>

    <h2>Real life example</h2>
    <p>Customize the calendar with two plugins (show week numbers, add year navigation), in the french locale.</p>
    <div class='demoContainer' id='container8'></div>


    
    
    <style>
        .example th {
            background: none;
            color: black;
            text-transform: none;
            border: none;
        }
        
        .yui3-skin-sam #container8 .inputEx-DatePickerField .yui3-calendar {
           *+width: 340px; /* horrible hack to add more width for IE 7 */
        }
    </style>

<script>
{{>datepicker-code}}
</script>

</div>

<h2>HTML</h2>

```
<div id="field-container"></div>
```

<h2>JavaScript</h2>


<h3>Implementation</h3>

```
{{>datepicker-code}}
```
