<div class="intro">
<p>
{{description}}
</p>
</div>

<div class="example">

    <h2>Add modify and delete functionalities</h2>
    <p></p>
    <div class='demoContainer' id='container2'></div>
     <div class='demoContainer' id='container3'>inputEx DataTable plug in controller : </div>

   

<script>
{{>datatable-code}}
</script>

</div>

<h2>HTML</h2>

```
<div id="field-container"></div>
```

<h2>JavaScript</h2>


<h3>Implementation</h3>

```
{{>datatable-code}}
```
