// example 1
YUI().use('calendar', 'inputex-calendarNavigationPlugin', function(Y) {
   
   var calendar = new Y.Calendar({
         contentBox: '#container1',
         width: "350px",
         showPrevMonth: true,
         showNextMonth: true,
         disabledDatesRule: 'disabled_days',
         // add the plugin to the config
         plugins: [Y.Plugin.CalendarNavigationPlugin]
   });
   
   calendar.render();
   
});

// example 2
YUI({ lang: 'fr' }).use('calendar', 'inputex-calendarNavigationPlugin', function(Y) {
   
   var calendar = new Y.Calendar({
         contentBox: '#container2',
         width: "350px",
         showPrevMonth: true,
         showNextMonth: true,
         disabledDatesRule: 'disabled_days'
   });
   
   calendar.render();
   
   // you can also manually plug calendarNavigationPlugin on the instance,
   // before or after the rendering.
   calendar.plug(Y.Plugin.CalendarNavigationPlugin);
   
});

// example 3
YUI().use('calendar', 'inputex-calendarNavigationPlugin', function(Y) {
   
   Y.CalendarBase.CONTENT_TEMPLATE = Y.CalendarBase.TWO_PANE_TEMPLATE;
   
   var calendar = new Y.Calendar({
         contentBox: '#container3',
         width: "700px",
         showPrevMonth: true,
         showNextMonth: true,
         disabledDatesRule: 'disabled_days',
         headerRenderer: function (curDate) {
            var ydate = Y.DataType.Date;
            return (ydate.format(curDate, {format: "%B %Y"}) +
               " &mdash; " +
               ydate.format(ydate.addMonths(curDate, 1), {format: "%B %Y"}));
           }
   });
   
   calendar.plug(Y.Plugin.CalendarNavigationPlugin);
   calendar.render();
   
});
