<div class="intro">
<p>
{{description}}
</p>
</div>

<div class="example">

	<h2>Basic DateTimeField creation</h2>
	<p>Use the following code to create a basic inputEx DateTimeField.</p>
	<div class='demoContainer' id='container1'></div>
	
	
	
	<h2>Date format</h2>
	<p>Change the date format</p>
	<div class='demoContainer' id='container2'></div>

<script>
{{>datetime-code}}
</script>

</div>

<h2>HTML</h2>

```
<div id="field-container"></div>
```

<h2>JavaScript</h2>


<h3>Implementation</h3>

```
{{>datetime-code}}
```
