YUI().use('inputex-vector',"inputex-number",function(Y) {


    var field = new Y.inputEx.VectorField({parentEl: 'container1', value: [-10.4,13*2]});

	var el = Y.one('#container1');

	var button1 = Y.inputEx.cn('button', null, null, "SetValue");
	el.appendChild(button1);
	Y.one(button1).on('click' ,function() {
	   field.setValue([-42.42,12.603]);
	});

	var logDiv = Y.inputEx.cn('div', null, null, "Log :");
	el.appendChild(logDiv);
	field.on('updated', function(value) {
		logDiv.innerHTML += "Updated at "+(new Date())+" with value "+value;
		logDiv.appendChild(Y.inputEx.cn('br'));
	});
	
	
	
	// Example 2
	new Y.inputEx.VectorField({
		parentEl: 'container2', 
		value: [-10.4,13*2],
		separators: ["x:",", y:", null]
	});
	
	
	
	// Example 3
	new Y.inputEx.VectorField({
		parentEl: 'container3', 
		value: [-1, 0, 1],
		dimension: 3,
		separators: ["x:",", y:", ", z: ", null]
	});
	

});
