<div class="intro">
<p>
{{description}}
</p>
</div>

<div class="example">

    <h2>Basic PasswordField creation</h2>
    <p>Use the following code to create a basic inputEx PasswordField.</p>
    <div class='demoContainer' id='container1'></div>


    <h2>Password and confirmation</h2>
   <p>The <b>confirm</b> option makes sure there is no typo in new passwords. Use it in combination with an <i>id</i> set on the password field to compare with.</p>
   <div class='demoContainer' id='container2'></div>
   
   
   <h2>Password length</h2>
   <p>Set the minimum password length using the <i>minLength</i> option :</p>
   <div class='demoContainer' id='container3'></div>
   
   
   <h2>Password strength indicator</h2>
   <p>A widget indicating the strength of the password (useful for password creation) :</p>
   <div class='demoContainer' id='container4'></div>
   
   
   <h2>Caps Lock Warning</h2>
   <p>Display a warning if the caps lock key is on</p>
   <div class='demoContainer' id='container5'></div>
   

<script>
{{>password-code}}
</script>

</div>

<h2>HTML</h2>

```
<div id="field-container"></div>
```

<h2>JavaScript</h2>


<h3>Implementation</h3>

```
{{>password-code}}
```
