<div class="intro">
<p>
{{description}}
</p>
</div>

<div class="example">
    
    <h2>Basic KeyOpValueField creation</h2>
    <p>The KeyOpValueField makes it easy to build a search form from an existing inputEx definition</p>
    <div class='demoContainer' id='container1'></div>
    
    
    <h2>List of conditions</h2>
    <p>Here is a search form with multiple conditions</p>
    <div class='demoContainer' id='container2'></div>
    
    
    <h2>Changing the operators and setting labels for operators</h2>
    <p>Two more options are available for this field: "operators" and "operatorLabels"</p>
    <div class='demoContainer' id='container3'></div>


<script>
{{>keyopvalue-code}}
</script>

</div>

<h2>HTML</h2>

```
<div id="field-container"></div>
```

<h2>JavaScript</h2>


<h3>Implementation</h3>

```
{{>keyopvalue-code}}
```
