<div class="intro">
<p>
{{description}}
</p>
</div>

<div class="example">

	<h2>Basic example</h2>
	<div class='demoContainer' id='container1'></div>
	
	
	<h2>Add Item</h2>
	<div class='demoContainer' id='container2'></div>

<script>
{{>ddlist-code}}
</script>

</div>

<h2>HTML</h2>

```
<div id="field-container"></div>
```

<h2>JavaScript</h2>


<h3>Implementation</h3>

```
{{>ddlist-code}}
```
