var fields = [ 
    { type: 'select', label: 'A select', choices: ['One','Two','Three'], value: "One" },
    { type: 'string', label: 'Firstname', value: 'Sandrine', required: true },
    { type: 'boolean', label: 'Happy to be there ?', name: 'happy'},
    { type: 'radio', label: 'Radio', name: 'example1', choices: ['Ajaxian','YUI blog','other']}
];

var form = new Y.inputEx.Form({
    id:'sampleForm', 
    parentEl: 'container1', 
    fields: fields, 
    legend: 'User Informations',
    buttons:[
        /*
        * Note that we use "type:'submit-link'" or "type:'link'" buttons here because they
        * are rendered with a different DOM that is easier to style in a cross-browser way
        * than "type:'submit'" (<input type="submit" />).
        */
        {type: 'submit-link', value: 'Submit Form'},  /* classic form submit triggered, as with type:'submit' */
        {type: 'link', value: 'Cancel', onClick:function(e) {form.clear();} } /* reset inputEx form */
    ]
});
