<div class="intro">
<p>
{{description}}
</p>
</div>

<div class="example">
   
	<h2>Basic CheckBox creation</h2>
	<p>Use the following code to create a basic inputEx CheckBox.</p>
	<div class='demoContainer' id='container1'></div>
	
	<h2>With a label</h2>
	<p>Add the label</p>
	<div class='demoContainer' id='container2'></div>
	
	<h2>Default returned values</h2>
	<p>By default, the CheckBox returns <i>true</i> if checked, <i>false</i> otherwise.</p>
	<div class='demoContainer' id='container3'></div>
	
	<h2>Changing the returned values</h2>
	<p>You can return different values if needed.</p>
	<div class='demoContainer' id='container4'></div>
	
	<h2>Updated event</h2>
	<p>How to listen to the updated event :</p>
	<div class='demoContainer' id='container5'></div>
	
	<h2>Disabling checkboxes</h2>
	<p>How to enable/disable a checkbox :</p>
	<div class='demoContainer' id='container6'></div>
	   
	<h2>Require the checking of the box</h2>
	<p>Simply add the "required" option in the config.</p>
	<div class='demoContainer' id='container7'></div>

<script>
{{>checkbox-code}}
</script>

</div>

<h2>HTML</h2>

```
<div id="field-container"></div>
```

<h2>JavaScript</h2>


<h3>Implementation</h3>

```
{{>checkbox-code}}
```
