<div class="intro">
<p>
{{description}}
</p>
</div>

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">	

<div class="example">
   
    <h2>Basic PhoneField creation</h2>
    <p>Use the following code to create a basic inputEx PhoneField.(Try it on a mobile phone !!!)</p>
    <div class='demoContainer' id='container1'></div>

	<h2>Another basic PhoneField creation with font awesome</h2>
    <p>(don't forget to load font awesome)</p>
    <div class='demoContainer' id='container2'></div>

<script>
{{>phone-code}}
</script>

</div>

<h2>HTML</h2>

```
<div class='demoContainer' id='container1'></div>
<div class='demoContainer' id='container2'></div>
```

<h2>JavaScript</h2>


<h3>Implementation</h3>

```
{{>phone-code}}
```
