<div class="intro">
<p>
{{description}}
</p>
</div>

<div class="example">


   
 <h2>Basic ListField creation</h2>
 <p>Use the following code to create a basic inputEx ListField.</p>
 <div class='demoContainer' id='container1'></div>



 <h2>Sortable list</h2>
 <p>Example for the sortable ListField</p>
 <div class='demoContainer' id='container2'></div>



 <h2>Updated event</h2>
 <p>How to listen to the updated event :</p>
 <div class='demoContainer' id='container3'></div>



 <h2>Use buttons instead of links</h2>
 <p>Use buttons :</p>
 <div class='demoContainer' id='container4'></div>



 <h2>Set maximum/minimum number of items</h2>
 <p>Use the maxItems and minItems options :</p>
 <div class='demoContainer' id='container5'></div>


 <h2>Field names</h2>
 <p>The names are automatically set on sub-fields, so that standard forms can work. Click the button and check the URL</p>
 <div class='demoContainer' id='container6'></div>
 


<script>
{{>list-code}}
</script>

</div>

<h2>HTML</h2>

```
<div id="field-container"></div>
```

<h2>JavaScript</h2>


<h3>Implementation</h3>

```
{{>list-code}}
```
