	
<p style="margin: 10px;">inputEx Builder is a tool to create forms using the <a href="http://neyric.github.com/inputex/">inputEx library</a></p>
	
<table id='mainTable' style="width: 100%;">
	<tr>
		<td class='mainTableTd'>
			<p class="tdTitle">1. Build</p>
			<div id='container'></div>
			<button id='loadButton'>Load</button>
		</td>
		<td class='mainTableTd'>
			<p class="tdTitle">2. Preview</p>
			<div id='groupContainer'></div>
				
				<p class="tdTitle">3. Get the code</p>
				<button id='generateButton'>Generate a page for this Form</button>
				<textarea id='codeGenerator' rows=30></textarea>
		</td>
	</tr>
		
</table>


<script>
YUI().use("inputex-builder");
</script>
